main{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.card-nomes{
    height: 90vh;
    border-radius: 10px;
    background: #8F0F0F;
    box-shadow: 7px 7px 7px 10px #00000059;
    width: calc(100vw - 180px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: relative;
}

.botao-comecar{
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffbe19;
    box-shadow: 10px 10px 30px #00000059;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    color: #8F0F0F;
}

.botao-voltar{
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffbe19;
    box-shadow: 10px 10px 30px #00000059;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    color: #8F0F0F;
}

.container-jogadores{
    max-width: 300px;
}

.instrucao-nomes{
    font-size: 20px;
    color: #fff;
    text-align: center;

}
 
.input-jogadores{
    padding: 10px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #ffbe19;
    color: #000;
    box-shadow: 10px 10px 30px #00000059;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    margin: 10px auto 0 auto;
    display: block;
    transition: 0.3s;
}

.input-jogadores::placeholder{
    color: #000;
}

.input-jogadores:focus{
    outline: none;
    transform: scale(1.05);
}

.aviso-nome-jogador{
    font-size: 16px;
    color: #ffbe19;
    text-align: center;
    display: none;
}

@media (max-width: 500px) {
    .botao-comecar, .botao-voltar{
        top: auto;
        bottom: 10px;
        font-size: 16px;
    }
    .input-jogadores{
        font-size: 16px;
    }
    .card-nomes{
        width: calc(100vw - 60px);
        min-height: calc(100vh - 60px);
        margin: 30px 0;
    }
}

/* 2° parte */

.card-jogo{
    height: 90vh;
    border-radius: 10px;
    background: #8F0F0F;
    box-shadow: 7px 7px 7px 10px #00000059;
    width: calc(100% - 180px);
    
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.container-nome-jogadores{
    height: 80%;
    width: calc(100%/3 - 100px);
    border-radius: 10px;
    background: #15244B;
    box-shadow: inset 5px 5px 5px 8px #00000059;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.Jogadores{
    height: calc(100% / 4);
    width: calc(100% - 25px);
    border-radius: 10px;
    background: #3C5277;
    box-shadow: 2px 2px 2px 6px #00000059;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: #ffbe19;
}

.jogadores-score{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    border: #ffbe19 solid 8px;
}

.jogadores-score p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-batata-quente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    height: 80%;
    width: calc(100%/3 - 20px);
    padding: 30px 10px;
}

.espaco-letra-aleatoria{
    position: relative;

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: #ffbe19 10px solid;
}

.letra-aleatoria{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 2px #ffbe19;
    transform: translate(-50%,-50%);
    text-transform: uppercase
}

.batata{
    position: absolute;
    top: 45px;
    left: -50px;
    height: 50%;
    width: 50%;
    transform: rotate(-10deg);
    object-fit: contain;
    animation: pulsando 0.9s ease-out infinite;
}

.batata-fogo{
    filter: saturate(200%);
}

.batata-fogo-queimando{
    filter: saturate(400%);
}

@keyframes pulsando {
    100%{
        transform: scale(1.2) rotate(-10deg);
    }
}

@keyframes explodindo {
    100%{
        transform: scale(1.5) rotate(-10deg);
    }   
}

.timer{
    color: #fff;
    font-size: 50px;
}

.input-palavra{
    width: 100%;
    height: 10%;
    padding: 15px;
    font-size: 32px;
    border-radius: 10px;
    background-color: #ffbe19;
    color: #fff;
    border: none;
}

.input-palavra::placeholder{
    color: #fff;
}

.input-palavra:focus{
    outline: none;
    border: none;
}

.aviso-palavra{
    color: #ffbe19;
    font-size: 16px;
    display: none;
}

.container-palavras-usadas{
    height: 80%;
    width: calc(100%/3 - 20px);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: column;
}

h4{
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.palavras-usadas{
    font-size: 16px;
    color: #ffbe19;
    text-decoration: line-through
}

@media (max-width: 1100px) {
    .card-jogo{
        width: calc(100% - 30px);
    }
    .Jogadores{
        font-size: 16px;
    }
    .jogadores-score{
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }
}

@media (max-width: 850px) {
    .card-jogo{
        width: calc(100% - 10px);
    }
    .Jogadores{
        flex-direction: column-reverse;
    }
    .container-nome-jogadores{
        height: auto;
    }
    .aviso-palavra{
        font-size: 12px;
    }
    .input-palavra::placeholder{
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .card-jogo{
        width: 100%;
        min-height: 100vh;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 0;
        padding: 20px 0;
    }
    .container-nome-jogadores{
        margin-left: 0;
        width: calc(100%/2 - 40px);
    }
    .container-batata-quente{
        width: calc(100%/2 - 20px);
    }
    .container-palavras-usadas{
        width: calc(100% - 100px);

    }
    .Jogadores{
        padding: 0;
        font-size: 16px;
    }
    .espaco-letra-aleatoria{
        position: relative;
    
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: #ffbe19 10px solid;
    }
    
    .letra-aleatoria{
        top: 5px;
        left: 25px;
        font-size: 40px;
    }
    
    .batata{
        top: 15px;
        left: -30px;
    }

    .timer{
        font-size: 32px;
    }
    
    .input-palavra{
        font-size: 16px;
        padding: 10px;
    }
}

