
.secao-resultado{
    height: 90vh;
    border-radius: 10px;
    background: #8F0F0F;
    box-shadow: 7px 7px 7px 10px #00000059;
    width: calc(100vw - 180px);
    padding: 10px;
    
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    
    position: relative;
}

.container-resultado{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;

    height: 70%;
    width: 100%;
}

.card-resultado{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: calc((100%/3) - 20px);
    border-radius: 10px;
    padding: 20px 0;
    background: #FFBE19;
}

.primeiro-lugar{
    height: 100%;
}

.segundo-lugar{
    height: 80%;
}

.terceiro-lugar{
    height: 50%;
}

.posicao, .label-score, .resultado-jogador-nome, .resultado-score{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #8F0F0F;
    text-shadow: 1px 1px #8F0F0F;
    line-height: 0.8;
    letter-spacing: 3px;
}

.posicao span{
    font-size: 60px;
    font-weight: 800;
}

.resultado-jogador-nome{
    color: #fff;
    margin: 5px;
}

.label-score, .resultado-score{
    color: #3C5277;
}

.botao-reniciar-jogo, .botao-voltar-modos{
    position: absolute;

    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffbe19;
    box-shadow: 10px 10px 30px #00000059;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    color: #8F0F0F;
}

.botao-reniciar-jogo{
    top: 10px;
    right: 10px;
}

.botao-voltar-modos{
    top: 10px;
    left: 10px;
}

@media (max-width: 840px) {
    .secao-resultado{
        width: 100vw;
        min-height: 100vh;
        border-radius: 0;
        padding: 30px 0;
    }
    
    .posicao, .label-score{
        font-size: 16px;
    }
    
    .posicao span{
        font-size: 30px;
        font-weight: 800;
    }
    
    .card-resultado{
        width: calc((100%/3) - 10px);
    }

    .container-resultado{
        height: 50%;
    }
}