@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mitr',sans-serif;
}

body {
    background-image: url("./assets/Fundo.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-inicial{
    height: 90vh;
    width: 70vw;
    border-radius: 10px;
    background: #8F0F0F;
    box-shadow: 7px 7px 7px 10px #00000059;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.tituloPrincipal{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px #ffbe19;
    line-height: 0.7;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.tituloPrincipal::selection{
    background-color: #00000000;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 20px;
    color: white;
    text-shadow: 1px 1px #ffbe19;
}

.nmrJogadores{
    display: none;
}

.botao-modo{
    width: 170px;
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #ffbe19;
    box-shadow: 10px 10px 30px #00000059;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    color: #8F0F0F;
}

.quantidade{
    width: 190px;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px 50px 0px;
    border: none;
    background-color: #ffbe19;
    color: #8F0F0F;
    box-shadow: 10px 10px 30px #00000059;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

    display: none;
}

.quantidade:focus{
    border: none;
    outline: none;
}

.iniciarJogo{
    width: 280px;
    height: 68px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffbe19;
    box-shadow: 10px 10px 30px #00000059;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
    color: #8F0F0F;
    text-decoration: none;
    text-align: center;
}

.botao-modo:hover, .iniciarJogo:hover{
    transform: scale(1.05);
    background: #8F0F0F;
    color: #ffbe19;
    border: solid 1px #ffbe19;
}

.selecionado{
    background: #8F0F0F;
    color: #ffbe19;
    border: solid 1px #ffbe19;
}

@media (max-width: 840px) {
    body{
        height: 100%;
        width: 100%;
    }
    .card-inicial{
        height: auto;
        margin: 30px 0px;
    }
    .tituloPrincipal{
        font-size: 30px;
    }
    .container-modo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}