@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mitr',sans-serif;
}

body {
    background-image: url("./assets/Fundo.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-inicial{
    height: 90vh;
    border-radius: 10px;
    background: #8F0F0F;
    box-shadow: 7px 7px 7px 10px #00000059;
    width: calc(100vw - 180px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.tituloPrincipal{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px #ffbe19;
    line-height: 0.7;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.tituloPrincipal::selection{
    background-color: #00000000;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 20px;
    color: white;
    text-shadow: 1px 1px #ffbe19;
}

.nmrJogadores{
    display: none;
}

.container-quantidade{
    display: none;
}

.botao-modo,.botao-quantidade{
    width: 170px;
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #ffbe19;
    box-shadow: 10px 10px 30px #00000059;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    color: #8F0F0F;
}

.botao-quantidade{
    width: 60px;
}

.iniciarJogo{
    width: 280px;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffbe19;
    box-shadow: 10px 10px 30px #00000059;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
    color: #8F0F0F;
    text-decoration: none;
    text-align: center;
}

.botao-modo:hover, .iniciarJogo:hover, .botao-quantidade:hover{
    transform: scale(1.05);
    background: #8F0F0F;
    color: #ffbe19;
    border: solid 1px #ffbe19;
}

.selecionado,.iniciarJogo:active{
    background: #8F0F0F;
    color: #ffbe19;
    border: solid 1px #ffbe19;
}

.aviso{
    color: #ffbe19;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 840px) {
    .card-inicial{
        width: calc(100vw - 60px);
        height: calc(100% - 60px);
        margin: 30px 0;
    }
    .tituloPrincipal{
        font-size: 30px;
        margin-top: 50px;
    }
    .container-modo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .iniciarJogo{
        width: 200px;
        font-size: 30px;
        margin-bottom: 50px;
    }
}

@media (max-width: 380px) {
    .card-inicial{
        padding: 0px 40px;
    }
    h2{
        font-size: 22px;
    }
    .botao-quantidade{
        font-size: 20px;
        height: 35px;
        width: 35px;
    }
    .aviso{
        font-size: 11px;
        margin: 0 0 10px 0;
    }
}